html *
{
   /* font-size: 1em !important; */
   color: #793e00 !important;
   font-family: 'Sour Gummy', sans-serif !important;
}

.logoImage{
    margin: auto;
    text-align: center;
}

.boder {
    /* border: 1px solid white; */
    border-radius: 15px;
}
.boderRadius {
    border-radius: 25px; 
    padding: 10px;
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
}
.button{
    border-radius: 5px; 
    display: flex;width: 100%;padding:0px;
}

.screem {
    height: 100vh;
    width: 100%;
}

.all{
    background-color: #d29b3b;
    padding-bottom: 5%;
}

.container{
    background-color: #ffde96;
}

.footter{
    padding-top: 5%;
    /* background-image:url("./kingCat/images/footter.png"); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 1%;
}
